* {
    margin: 0;
  }

html {
    font-family: 'Raleway', sans-serif;
}


.banner{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    height: 180px;
    position: relative;
    margin:0;
    padding: 0;
}

.banner-logo {
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 8px;
}

.container-title {
    margin-left: 8px;
}

.container-title h1 {
    font-size: 50px;
    margin: 20px 0 8px 0;
}

.info-author{
    color: #7c7b7b;
}

.author {
    font-size: 22px;
}

.name-author {
    color:#4EA0FF;
}

.images {
    margin-top: 20px;
}





